# ── Node.js ───────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*

# ── Environment variables ─────────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ── Backend ───────────────────────────────────────────────────────────────────
backend/node_modules/
backend/dist/
backend/uploads/

# ── Frontend ──────────────────────────────────────────────────────────────────
frontend dash/node_modules/
frontend dash/dist/

# ── Unity ─────────────────────────────────────────────────────────────────────
AR app/Library/
AR app/Temp/
AR app/Logs/
AR app/UserSettings/
AR app/obj/
AR app/Build/
AR app/Builds/
AR app/.utmp/
AR app/*.sln
AR app/*.csproj
AR app/**/*.pidb
AR app/**/*.unityproj
AR app/**/*.userprefs

# ── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini
/code
project-final.zip
*.mp4
